/* carousel 🎠 src/sass/layouts/_carousel.scss */

.K-Sheet__carousel {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 86.11%; // 1240px
   height: 415px;
   border-radius: 25px;

   & img {
      display: flex;
      position: absolute;
      mix-blend-mode: normal;
   }

   &__arrowLeft {
      display: flex;
      position: absolute;
      left: 196px;
      width: 46.68px;
      height: 79.2px;
   }

   &__arrowRight {
      position: absolute;
      width: 46.68px;
      height: 79.2px;
      left: 1342px;
      top: 335px;
   }

   &__pageNumber {
      position: absolute;
      top: 496px;
      font-size: 1.26vw; // 18px
      font-weight: 500;
      font-style: normal;
      line-height: 142.6%; // 26px
      color: $colorSecundari;
   }
}
