/* gallery 🍱 src/sass/layouts/_gallery.scss */

.K-Gallery {
   display: flex;
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
   background-color: $colorFitxes;
   margin: 46px 6.94%;
   width: 1240px;
   height: 829px;
   border-radius: 25px;

   &__article {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-radius: 10px;

      & img {
         width: 340px;
         height: 340px;
         border-radius: 10px;
         background: $colorPrimari;
      }
      
      &__title {
         width: 300px;
         height: 52px;
         font-family: 'Montserrat', sans-serif;
         font-weight: 500;
         font-size: 1.26vw; // 18px
         color: $colorSecundari;
         position: absolute;
         top: 740px;

         outline: 1px solid orangered;
      }
   }
}
