/* gallery 🍱 src/sass/layouts/_gallery.scss */

.K-Gallery {
   display: flex;
   background-color: $colorFitxes;
   max-width: 86.11%;   // 1240px = 86.11%
   height: max-content;
   border-radius: 25px;
   margin: 43px 6.94%;     // 6.94% = 100px
   padding: 56px 3.47%;    // 4.03% = 50px
   outline: 1px solid salmon;

   & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 0 -45px;
      column-gap: 3%;      // 60px;
      row-gap: 50px;
      outline: 1px solid yellowgreen;
   }

   &__article {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 340px;
      height: 340px;
      border-radius: 10px;
      background-color: $colorPrimari;
      
      & a {
         text-decoration: none;
      }

      & img {
         display: flex;
         width: 340px;
         height: 340px;
         border-radius: 10px;       
         object-fit: cover;
         outline: 1px solid blue;
      }

      &__mask {
         display: flex;
         width: 340px;
         height: 340px;
         border-radius: 10px;
         margin-top: -340px;
         background: linear-gradient(180deg, #FFFFFF 0%, #000000 50%);
         opacity: 0.3;
         outline: 1px solid orangered;
      }

      &__title {
         display: flex;
         position: absolute;
         width: 300px;
         height: 52px;
         font-family: 'Montserrat', sans-serif;
         font-weight: 500;
         font-size: 1.26vw; // 18px
         line-height: 25.67px;
         text-align: center;
         color: $colorSecundari;
         margin-top: -75px;
         margin-left: 20px;
         z-index: 1;
      }
   }
}

@media screen and (max-width: 1365px) {
   .K-Gallery > ul {
      column-gap: 60px;
      row-gap: 80px;
   }
   .K-Gallery__article {
      width: 300px;
      height: 290px;
   }
}

@media screen and (max-width: 1285px) {
   .K-Gallery {
      justify-content: space-around;
      margin: 35px 6.94%;
      padding: 50px 3%;
      height: auto;
   }
   .K-Gallery > ul {
      column-gap: 50px;
      row-gap: 90px;
      justify-content: space-around;
      margin: 20px 45px;
      height: auto;
   }
   .K-Gallery__article {
      margin: 20px;
      & img {
         width: 340px;
         height: 340px;
      }
      &__title {
         font-size: 16px;
      }
   }
}
@media screen and (max-width: 1140px) {
   .K-Gallery {
      padding: 40px 0;
   }
   .K-Gallery > ul {
      row-gap: 70px;
      padding: 0 5px;
      justify-content: space-between;
   }
   .K-Gallery__article {
      margin: 10px;
      width: 340px;
      height: 315px;
   }
}

@media screen and (max-width: 1080px) {
   .K-Gallery {
      padding: 30px 0;
   }
   .K-Gallery > ul {
      column-gap: 35px;
      row-gap: 70px;
      padding: 0 10px;
   } 
   .K-Gallery__article {
      margin: 25px 0;
      width: 330px;
      height: 290px;
   }
}