/* header 🤯 src/sass/layouts/_header.scss */

// Home K-header
.K-header {
   margin: 0 6.94%;
   width: 86.11%;
   color: $colorPrimari;
   text-align: left;
   padding: 35px 0;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;

   & > a {
      display: flex;
      margin: 0;
      padding: 0;
      width: 222px;
      height: auto;
   }

   &__logo {
      position: relative;
      left: -8px;
      width: 100%; /* Son 222px exterior -12px de pas per tot = 210px */
   }

   &__menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 35%;
      height: 34px;

      &__ul {
         display: flex;
         justify-content: flex-end;
         align-items: center;
         width: 200%;
         flex-wrap: nowrap;
         grid-gap: 18%;
         list-style: none;
         font-size: 1.67vw; /* Son 24px */
         font-weight: 500;

         &__li {
            width: 140px;
            height: 34px;
            padding: 0;
            flex-wrap: nowrap;
            text-align: right;
         }
      }
   }
}

.K-header__menu a {
   text-decoration: none;
   color: $colorPrimari;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size 0.3s;
}

.K-header__menu a:hover,
a:focus {
   background-size: 100% 2px;
}
