/* rightbox 🎁⏭ src/sass/layouts/_rightbox.scss */

.K-Sheet__keywords__rightBox {
   display: flex;
   flex-direction: column;
   width: 25%;
   align-items: flex-end;
   justify-content: center;

   &__owner {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      gap: 20px;
      text-align: right;
   }

   & p {
      color: $colorPrimari;
      width: 110px;
      height: 52px;
      font-size: 1.26vw; // 18px
      font-weight: 500;
      line-height: 25.67px;
   }

   &__k-thumbnail {
      width: 64px;
      height: 64px;
      border-radius: 50%;
   }

   &__starScore {
      display: flex;
      gap: 10px;
   }
}

@media screen and (max-width: 1340px) {
   .K-Sheet__keywords__rightBox {
      & p {
         width: 100px;
      }
   }
}

@media screen and (max-width: 1240px) {
   .K-Sheet__keywords__rightBox {
      & p {
         width: 93px;
         font-size: 16px;
      }
   }
}

@media screen and (max-width: 992px) {
   .K-Sheet__keywords__rightBox {
      & p {
         width: 91px;
         font-size: 15px;
      }
      &__k-thumbnail {
         width: 48px;
         height: 48px;
      }
      &__starScore {
         width: 23px;
         height: 23px;
      }
   }
}

@media screen and (max-width: 600px) {
   .K-Sheet__keywords__rightBox {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-top: -25px;
      &__owner {
         width: 50%;
         padding: 0;
         height: min-content;
         & p {
            width: 91px;
            font-size: 14px;
            line-height: 142.6%;
            padding-top: 10px;
         }
         &__k-thumbnail {
            width: 48px;
            height: 48px;
         }
      }
      &__starScore {
         width: 23px;
         height: 23px;
         gap: 8px;
      }
      & p {
         width: 91px;
         font-size: 15px;
      }
      &__k-thumbnail {
         width: 48px;
         height: 48px;
      }
      &__starScore {
         width: 23px;
         height: 23px;
      }
   }
}
