/* Skills 🎭 src/sass/layouts/_skills.scss */

.K-Skills {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 86.11%; // 1240px
   height: auto;
   margin: 33px auto 33px auto;
   outline: 1px solid blueviolet;

   &__article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $colorPrimari;
      border-radius: 5px;
      width: 82.5%;     // 1023px;
      height: min-content;
      margin: auto;
      & h3 {
         color: red;
         text-align: left;
         font-size: 1.68vw; // 24px
         font-weight: 500;
         line-height: 34.22px;
         margin-left: 18px;
         outline: 1px solid red;
      }
      & img {
         width: 1.68vw;
         height: 1.68vw;
         margin-right: 16px;
      }
   }

   & p {
      padding: 22px;
      text-align: left;
      color: $colorPrimari;
      font-style: normal;
      font-weight: 400;
      font-size: 1.68vw; // 24px
      line-height: 142.6%;
   }
}
